<!doctype html>
<html ng-app="stat">
<body>
  <h1>~Stuff Tracker~</h1>
  <div ng-controller="DataBuilder">
    <form novalidate class="data-input">

      <div class="datapoint-slider" datapoint-slider ng-repeat="tag in tags" ng-style="{{tag.color}}"></div>

      <input type="date" ng-model="datapoint.date"/><br/>
      <input type="submit" ng-click="upload(datapoint)" value="Input Data"/>
    </form>
  </div>
  <div class="graph" ng-controller="DataGraph">
    <svg my-data-graph></svg>
  </div>
  <script src="angular.js"></script>
  <script src="d3.min.js"></script>
  <script src="node_modules/socket.io-client/socket.io.js"></script>
  <script src="stat.js"></script>
  <link href="style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
</body>
</html>
